/**
    * @name lingtian
    * @version 0.0.2
    * @author lingtian
*/

@import url(https://raw.githack.com/v-briese/Channel-Icons/main/channelicons.theme.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

* {
  outline: none !important;
}

:root {
  --settingsiconssize: 18px;
  --settingsiconsgap: 14px;
}

input {
  color: white !important;
}

.appMount-3lHmkl,
body {
  background-color: rgba(40, 40, 40, 0) !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.bg-h5JY_x {
  /* background img */
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  opacity: 0.6;
  filter: blur(2px);
}

.webkit-HjD9Er {
  background-color: rgba(20, 20, 20, 0) !important;
  border-radius: 20px !important;
  color: white;
  box-shadow: none !important;
}

.emptyCard-1RJw8n {
  background-color: rgba(40, 40, 40, 0.5);
}

.title-29uC1r,
.activityText-OW8WYb,
.overflow-WK9Ogt,
.channelName-2YrOjO,
.messageContent-2qWWxC,
.overflow-WK9Ogt {
  font-family: "Rubik";
}

.messageContent-2qWWxC {
  padding: 12px;
  font-size: 21px;
}

.wordmark-2iDDfm:after {
  content: "wdnmd - beta";
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Discord";
}

.wordmark-2iDDfm svg {
  display: none;
}

.wordmark-2iDDfm {
  max-width: 90vw;

  text-overflow: ellipsis;
}

.placeholder-37qJjk {
  color: white !important;
}

.searchBar-3dMhjb {
  transition: 0.35s ease-out !important;
  border-radius: 25px !important;
}

.subText-1KtqkB {
  color: white;
}

.overflow-WK9Ogt {
  color: white;
}

.app-2rEoOp,
.applicationStore-1pNvnv,
.chat-3bRxxu,
.container-1D34oG,
.container-1r6BKw.themed-ANHk51,
.container-3w7J-x,
.container-PNkimc,
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.header-39GIC8,
.inviteToolbar-3F-l2g,
.layer-3QrUeG,
.members-1998pB,
.members-1998pB > div,
.messages-3amgkR,
.notice-2X5hT5,
.nowPlayingColumn-2sl4cE,
.pageWrapper-1PgVDX,
.panels-j1Uci_,
.privateChannels-1nO12o,
.scroller-1IIF0A,
.wrapper-3vR61M,
.wrapper-1F5TKx,
.scroller-1JbKMe,
.scroller-2TZvBN,
.scroller-2XE8rp,
.scroller-305q3I,
.scroller-9moviB,
.sidebar-2K8pFh,
.sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i,
.wrapper-1Rf91z,
.container-lRFx4q,
.wrapper-2qzCYF,
.wrapper-2qzCYF.minimum-28Z35l,
.wrapper-KXM2i0 {
  background: 0 0 !important;
}

.children-19S4PO:after,
.content-yTz4x3:before,
.form-2fGMdU:before {
  display: none !important;
}

.categoryItem-3zFJns .itemInner-3gVXMG,
.clickable-1JJAn8,
.layout-2DM8Md {
  transition: all 0.25s ease;
}

.clickable-1JJAn8 {
  padding: 5px;
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp:hover .itemInner-3gVXMG:hover,
.clickable-1JJAn8:hover .layout-2DM8Md:hover,
.selected-aXhQR6:hover {
  border-radius: 10px;
  background: rgba(40, 40, 40 0.65);
  position: relative;
  transform: translateX(10.5px);
  border-left: 5px solid #3c51b4;
}

.selected-aXhQR6 {
  border-left: 5px solid #3c51b4;
  background: linear-gradient(to bottom, #1a2980a4, #26d0cdce);
}

.content-1x5b-n {
  box-sizing: unset !important;
  box-shadow: none;
  background: none;
  transition: all 0.25s cubic-bezier(0.91, 0.15, 0.28, 0.28);
  border-radius: 5px;
}

.content-1x5b-n:hover {
  color: white;
  background: rgba(40, 40, 40, 0.65);
  position: relative;
  transform: translateX(5px);
  border-left: 5px solid #3c51b4;
}

.none-2Eo-qx,
.tree-2wKJdG,
.wrapper-3NnKdC {
  background-color: rgba(40, 40, 40, 0) !important;
}

.guildSeparator-33mFX6 {
  display: none;
}

.childWrapper-anI2G9 {
  transition: 0.25s cubic-bezier(0.91, 0.15, 0.28, 0.28);
}

.reactions-12N0jA,
.reaction-1hd86g {
  background-color: rgba(40, 40, 40, 0) !important;
}

.cozy-3raOZG .messageContent-2qWWxC {
  color: white !important;
}

.content-3YMskv {
  border-radius: 20px !important;
  background-color: rgba(40,40,40,0) !important;
}

.content-3YMskv div[style="height: 8px;"] {
  display: none !important;
}

.searchBarComponent-32dTOx {
  background: rgba(40, 40, 40, 0.5);
  color: white;
}

.winButtonMinMax-PBQ2gm {
  z-index:  1000 !important;
}

.winButtonMinMax-PBQ2gm[aria-label="最小化"] {
  background-color: rgb(200, 250, 0);
  border-radius: 60%;
  height: 20px;
  width: 20px;
  right: 10px;
  top: 1.5px;
}

.winButtonMinMax-PBQ2gm[aria-label="最大化"] {
  background-color: rgb(0, 255, 0);
  border-radius: 60%;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 1.5px;
}

.winButtonClose-1HsbF-,
.winButtonMinMax-PBQ2gm {
  padding: auto;
}

.winButtonClose-1HsbF- svg,
.winButtonMinMax-PBQ2gm svg {
  opacity: 0;
  transition: 0.25s;
}

.winButtonMinMax-PBQ2gm svg:hover {
  color: rgb(40, 40, 40);
  opacity: 1;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: 0.5s;
}

.winButtonClose-1HsbF- svg:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: 0.5s;
}

.winButtonClose-1HsbF- {
  background-color: rgb(250, 0, 0);
  border-radius: 60%;
  height: 20px;
  width: 20px;
  right: 1px;
  top: 1.5px;
}

.searchBar-6Kv8R2 {
  display: none !important;
}

.scroller-1JbKMe {
  border: none !important;
}

.inviteToolbar-3F-l2g {
  border: none;
}

.divider-3FBTu8 {
  display: none !important;
}

.peopleColumn-29fq28 {
  border: none !important;
  padding: 0 !important;
}

.actionButton-uPB8Fs {
  background-color: rgba(40, 40, 40, 0) !important;
}

.uploadModal-2ifh8j,
.inner-3nWsbo,
.footer-3mqk7D {
  background: rgba(55, 55, 55, 0.5) !important;
  border: none;
}

.attachedBars-tZDmyV,
.clipContainer-eeROt0,
.replyBar-1YLQ2F {
  background-color: rgba(20, 20, 20, 0) !important;
}

.scrollableContainer-2NUZem {
  border: 2px solid transparent !important;
  border-radius: 15px !important;
  border-bottom: 2px inset white;
}

.headerButton-3in1-b,
.scroller-3BxosC,
.messagesPopoutWrap-1MQ1bW,
.iconWrapper-2OrFZ1 {
  transition: 0.25s !important;
}

.role-2irmRk {
  background: transparent;
  border: 1px solid;
  border-radius: 11px;
}
.roleCircle-3xAZ1j {
  margin-left: 0;
}
.addButton-pcyyf6.role-2irmRk {
  border-color: #4f545c;
}
.addButtonIcon-1NMJ8u {
  width: 10px;
  height: 10px;
}

.small-3iVZY {
  transform: 0.25s !important;
}

.flex-1xMQg5,
.content-mK72R6,
.focusLock-Ns3yie {
  background-color: rgba(50, 50, 50, 0) !important;
}

.text-1y-e8- {
  font-family: "Rubik", sans-serif;
}

.username-1A8OIy {
  font-family: "Rubik", sans-serif;
}

.roleColor-rz2vM0 {
  color: rgb(200, 200, 200) !important;
}

.username-1A8OIy {
  color: rgb(200, 200, 200) !important;
}

.activityText-yGKsKm {
  color: whitesmoke !important;
}

.itemCard-v9viV7 {
  border-radius: 30px !important;
  background: none;
  border: none;
}

.interactive-3B9GmY,
.peopleListItem-2nzedh {
  border-radius: 30px !important;
  transition: 0.25s cubic-bezier(0.5, 0.25, 0.75, 0);
  border: 0;
}

.interactive-3B9GmY:hover,
.peopleListItem-2nzedh:hover {
  border-radius: 30px !important;
  background-color: rgba(50, 50, 50, 0.5) !important;
  transform: translateY(-3.5px);
}

.item-3HknzM {
  color: #95a5a6 !important;
  border-radius: 30px !important;
  transition: 0.25s cubic-bezier(0, 0.25, 0.5, 0.75, 1);
  z-index: 1000;
  padding: auto;
}

.item-3HknzM[aria-label="添加好友"] {
  color: white !important;
  z-index: 1000;
}

.item-3HknzM:hover {
  color: white !important;
  transform: translateY(-5px) !important;
  background-color: rgba(50, 50, 50, 0.25);
}

.themed-OHr7kt {
  border-radius: 30px !important;
  color: white !important;
  transition: 0.25s;
  padding: 10px 7.5px !important;
}

.themed-OHr7kt:hover {
  color: white !important;
  transform: translateX(5px);
}

.tabBarItem-3dfX8 {
  color: white !important;
  transition: 0.25s !important;
}

.tabBarItem-3dfX8:hover {
  color: white !important;
  transform: translateY(-5px) !important;
}

.username-1A8OIy .roleIcon-1_1CJy {
  display: none;
}

.container-1r6BKw,
.container-1D34oG,
.tabBody-3YRQ8W,
.container-1D34oG {
  padding: 0 !important;
  border: 0 !important;
}

.wrapper-2aW0bm,
.buttons-cl5qTG,
.scroller-3BxosC,
.menu-3sdvDG {
  background-color: rgba(40, 40, 40, 0.5) !important;
  border: 0;
  padding: 0;
}

.membersGroup-v9BXpm {
  color: rgb(200, 200, 200);
}

.background-1QDuV2,
.fieldList-21DyL8,
.accountProfileCard-1XCH88 {
  background-color: rgba(0, 0, 0, 0) !important;
}

.mask-1l8v16,
.avatarStack-2Dr8S9,
.header-ykumBX {
  background-color: rgba(40, 40, 40, 0) !important;
}

.separator-gCa7yv {
  display: none;
}

.closeButton-1152MI {
  transition: 0.25s;
}

.closeButton-1152MI svg:hover {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: 0.5s;
}

.pill-1z4sAY {
  transition: 0.25s cubic-bezier(0, 0.45, 1, 0.43) !important;
}

.listItem-1hlISG {
  transition: 0.5s all ease;
}

.listItem-1hlISG:hover {
  transform: scale(1.1, 1.1);
}

.contents-18-Yxp,
.button-14-BFJ,
.iconWrapper-2OrFZ1,
.emojiItem-14v6tW,
.pngImage-33yLRP {
  transition: 0.25s all ease;
}

.contents-18-Yxp:hover,
.button-14-BFJ:hover,
.iconWrapper-2OrFZ1:hover,
.emojiItem-14v6tW:hover,
.pngImage-33yLRP:hover {
  z-index: 5;
  transform: scale(1.1, 1.1) translateY(-5px);
}

.container-1sFeqf {
  transition: 0.25s all ease;
}

.container-1sFeqf:hover {
  transform: scale(1.1, 1.1);
}

.side-8zPYf6 {
  padding: 0 auto;
  margin: 0 auto;
}

.wrapper-1-Fsb8{
  background-color: rgba(40, 40, 40, 0);
}

.section-2gLsgF, .activitySection-cEg8ae, .body-1ld4H7 {
  background-color: rgba(40,40,40,0) !important;
}

.emptyCard-1RJw8n {
  transition: 0.25s all ease;
}

.emptyCard-1RJw8n:hover {
  background: rgba(40, 40, 40, 0.2);
  transform: scale(1.1)
}

.membersWrap-2h-GB4, .members-1998pB, .container-2wlB3z {
  background-color: rgba(40,40,40,0) !important;
}

.wrapper-25eVIn {
  transition: 0.25s all ease;
}

.wrapper-25eVIn:hover {
  transform: scale(1.1);
}

.label-22pbtT {
  color: white;
}

.numberBadge-2s8kKX {
  animation: animatedPing 1.3s infinite ease-in-out;
}

.guilds-1SWlCJ .tree-2wKJdG:focus {
  outline-color: transparent;
}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;
}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-11ICd5 {
  position: fixed;
  transform: translatey( -100% );
}

.username-1A8OIy {
  background-color: rgba(100, 100, 100, 0.5);
  color: white !important;
}

@keyframes animatedPing {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg) scale(1.2);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}